@import "tailwindcss";
@theme {
  --color-btnColor: #4B2C53;
  --color-bgHomeHeroImage: #EBEBEB;
  --color-textbtnColor:#B38AC0;
  --color-authbtnActive: #CB88BB40;
  --bg-hero-image: url("/assets/hero-image.svg");
  --bg-main-color: #3B2241;
}
.bg-hero {
  background-image: var(--bg-hero-image);
}
* {
    box-sizing: border-box;
    direction: rtl;
}
body {
  background-color: var(--bg-main-color);
  background-image: var(--bg-hero-image);
  background-position: top center;
  background-repeat: no-repeat;
}